==
<!DOCTYPE html>
<html>
<head>
	<title>Jacob's Hair</title>
	<link rel="stylesheet" href="/themes/jacob_hair/assets/css/vendor.min.css">
	<link rel="stylesheet" href="/themes/jacob_hair/assets/css/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<header>
		<nav>
		  <div class="container-fluid">
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <div class="navbar-gradient">
		    	
		    </div>
		      <ul class="nav navbar-nav navbar-absolute">
		        <li><a href="#about">about</a></li>
		        <li><a href="#pricing">pricing</a></li>
		        <li><a href="#">portfolio</a></li>
		        <li><a href="#">contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
	<main>
		<section class="homebanner">
			<div class="homebanner-box">

				<a class="banner-logo" href="#"><img src="/themes/jacob_hair/assets/img/logo.png" alt="Jacob's hair & beauty"></a>

				<hr class="banner-box-hr">

				<h1 class="banner-title">
					award-winning service from the best in the business
				</h1>
				<p class="banner-body">
					Whether you are looking for a cut, colour or treatment, at Jacob's Hair Salon you will receive the highest quality service at great prices.
				</p>
				
				<a href="#" class="button">Book now</a>
			
			</div>


		</section>

		<section id="about" class="about row">
			<div class="profile-img col-md-6">
			
			</div>
			<div class="about-content col-md-6">
				<div class="content-text">
					<h1>
						who am i
					</h1>

					<p>
						I'm Jacob, an award-winning stylist with over 21 years of Experience in South Korea, The UK, Japan And Australia.
					</p>

					<p>
						I specialises in ladies and mens cutting and styling, as well as restyling, setting, colouring/foiling. hair rejuvenation, treatment, advice on haircare, extentions as well as styling for events such as formals and bridal parties.
					</p>

					<p>
						<b><u>Free Consultations are available. Please contact us for detail.</u></b>
					</p>
				</div>
				
				<div class="content-qualification">
					<h2>
						qualification
					</h2>
					<div class="row">
						<!-- xs sm md lg -->
						<div class="qualification-left col-sm-6">
							<ul style="list-style-type: none;">
								<li>
									L'Oreal colour keys
									<ul class="sub-list">
										<li>
										<i>South Korea, Australia</i>
										</li>
									</ul>
								</li>
								<li>
									2004 Cutting Champion
									<ul class="sub-list">
										<li>
										<i>Japan</i>
										</li>
									</ul>
								</li>
								<li>
									Freelance Instructor
									<ul class="sub-list">
										<li>
										<i>South Korea, Japan</i>
										</li>
									</ul>
								</li>
								<li>
									Vidal Sassoon
									<ul class="sub-list">
										<li>
										<i>Classic Advance Technical (South Korea, UK)</i>
										<i>Cutting Course</i>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="qualification-right col-sm-6">
							<ul style="list-style-type: none;">
								<li>
									Wella Full Colour Course
									<ul class="sub-list">
										<li>
										<i>South Korea</i>
										</li>
									</ul>
								<li>
									Certificate of Double Scissors
									<ul class="sub-list">
										<li>
										<i>Japan</i>
										</li>
									</ul>
								</li>
								<li>
									Toni & Guy
									<ul class="sub-list">
										<li>
										<i>Creative Foundation of Cutting & Colouring</i>
										</li>
										<li>
										<i>Hightlighting Specialist (South Korea, UK)</i>
										</li>
										<li>
										<i>Speed Colour</i>
										</li>
									</ul>
								</li>
							</ul>

						</div>
					</div>

				</div>	
			</div>
		</section>

		<section id="pricing" class="pricing">
			<div class="pricing-bg-img">
				
			</div>

			<h1>
				Our Pricing
			</h1>

			<p>
				The following are starting price for standard consultation. Price may increase based on time taken.
			</p>

			<div class="pricing-row">

				<!-- First column -->
				<div class="pricing-column">

				<!-- Man's Cut -->

					<h2>
						Man's cut
					</h2>
						
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								Standard Cut (inc. shampoo)
							</div>
							<div class="pricing-charge">
								From $30
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Buzz cut only
							</div>
							<div class="pricing-charge">
								From $18
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Buzz cut (inc. shampoo)
							</div>
							<div class="pricing-charge">
								From $22
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Fashion cut (inc. shampoo)
							</div>
							<div class="pricing-charge">
								From $33
							</div>
						</li>
						<li>
							<div class="pricing-service">
								0-5 years
							</div>
							<div class="pricing-charge">
								From $17
							</div>
						</li>
						<li>
							<div class="pricing-service">
								6-9 years
							</div>
							<div class="pricing-charge">
								From $19
							</div>
						</li>
						<li>
							<div class="pricing-service">
								10-15 years
							</div>
							<div class="pricing-charge">
								From $22
							</div>
						</li>
					</ul>

					<!-- ./ Man's Cut -->

					<!-- Ladies' Cut -->

					<h2>
						Ladies' cut
					</h2>
						
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								Standard Cut (inc. shampoo)
							</div>
							<div class="pricing-charge">
								From $34
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Finge trim
							</div>
							<div class="pricing-charge">
								From $9
							</div>
						</li>
						<li>
							<div class="pricing-service">
								fashion cut (short)
							</div>
							<div class="pricing-charge">
								From $37
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Fashion cut (Medium)
							</div>
							<div class="pricing-charge">
								From $40
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Fashion cut (Long)
							</div>
							<div class="pricing-charge">
								From $47
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Blow wave (Short)
							</div>
							<div class="pricing-charge">
								From $32
							</div>
						</li>
						<li>
							<div class="pricing-service">
								blow wave (Medium)
							</div>
							<div class="pricing-charge">
								From $37
							</div>
						</li>
						<li>
							<div class="pricing-service">
								blow wave (long)
							</div>
							<div class="pricing-charge">
								From $42
							</div>
						</li>
						<li>
							<div class="pricing-service">
								0-5 years
							</div>
							<div class="pricing-charge">
								From $17
							</div>
						</li>
						<li>
							<div class="pricing-service">
								6-9 years
							</div>
							<div class="pricing-charge">
								From $19
							</div>
						</li>
						<li>
							<div class="pricing-service">
								10-15 years
							</div>
							<div class="pricing-charge">
								From $22
							</div>
						</li>
					</ul>

					<!-- ./ Ladies' Cut -->


					<!-- Conditioning Treatment -->

					<h2>
						Conditioning Treatment
					</h2>
						
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								Express Treatment
							</div>
							<div class="pricing-charge">
								From $15
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Luxury Treatment
							</div>
							<div class="pricing-charge">
								From $23
							</div>
						</li>

					<!-- ./ Conditioning Treatment -->

				</div>
				<!-- ./ First column -->

				<!-- Second Column -->
				<div class="pricing-column">

					<!-- Hair Colouring pricing table -->

					<h2>
						Hair colouring (Tint)
					</h2>
					
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								partial tint
							</div>
							<div class="pricing-charge">
								From $35
							</div>
						</li>
						<li>
							<div class="pricing-service">
								re-growth tint
							</div>
							<div class="pricing-charge">
								From $45
							</div>
						</li>
						<li>
							<div class="pricing-service">
								short
							</div>
							<div class="pricing-charge">
								From $50
							</div>
						</li>
						<li>
							<div class="pricing-service">
								medium
							</div>
							<div class="pricing-charge">
								From $55
							</div>
						</li>
						<li>
							<div class="pricing-service">
								long
							</div>
							<div class="pricing-charge">
								From $75
							</div>
						</li>
						<li>
							<div class="pricing-service">
								very long
							</div>
							<div class="pricing-charge">
								From $85
							</div>
						</li>
					</ul>

					<!-- ./Hair Colouring Pricing table -->

					<!-- Hightlight -->

					<h2>
						Hightlights (Tint)
					</h2>
					
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								partial tint
							</div>
							<div class="pricing-charge">
								From $35
							</div>
						</li>
						<li>
							<div class="pricing-service">
								re-growth tint
							</div>
							<div class="pricing-charge">
								From $45
							</div>
						</li>
						<li>
							<div class="pricing-service">
								short
							</div>
							<div class="pricing-charge">
								From $50
							</div>
						</li>
						<li>
							<div class="pricing-service">
								medium
							</div>
							<div class="pricing-charge">
								From $55
							</div>
						</li>
						<li>
							<div class="pricing-service">
								long
							</div>
							<div class="pricing-charge">
								From $75
							</div>
						</li>
						<li>
							<div class="pricing-service">
								very long
							</div>
							<div class="pricing-charge">
								From $85
							</div>
						</li>


					<!-- ./ Hightlight -->

					<!-- Perm -->

					<h2>
						Perm
					</h2>
						
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								Short - Medium
							</div>
							<div class="pricing-charge">
								From $80
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Long
							</div>
							<div class="pricing-charge">
								From $105
							</div>
						</li>

					<!-- ./ Perm -->

					<!-- Chemical Straightening-->

					<h2>
						Chemical Straightening
					</h2>
						
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								Mon - Fri
							</div>
							<div class="pricing-charge">
								From $55/Hr
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Sat & Sun
							</div>
							<div class="pricing-charge">
								From $80/Hr
							</div>
						</li>

					<!-- ./ Chemical Straightening -->

					<!-- Other-->

					<h2>
						Other
					</h2>
						
					<hr class="pricing-hr">

					<ul class="pricing-ul" style="list-style-type: none;">
						<li>
							<div class="pricing-service">
								Fashion Colour/Colour Correction
							</div>
							<div class="pricing-charge">
								From $55/Hr
							</div>
						</li>
						<li>
							<div class="pricing-service">
								Full head Scalp Bleach
							</div>
							<div class="pricing-charge">
								From $55
							</div>
						<li>
							<div class="pricing-service">
								Formals & Bridal Parties
							</div>
							<div class="pricing-charge">
								From $55/Hr
							</div>
						</li>

					<!-- ./ Other -->

				</div>

				<!-- ./ Second column -->

			</div>

		</section>

		<section class="footer">
			
		</section>

	</main>

	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>