==
<?php
use Jofry\Fields\PageFields;
function onStart()
{
    PageFields::instance()->addValuesToPage($this);
}
?>
==
<!DOCTYPE html>
<html>
<head>
	<title>Jacob's Hair</title>
	<link rel="stylesheet" href="/themes/jacob_hair/assets/css/vendor.min.css">
	<link rel="stylesheet" href="/themes/jacob_hair/assets/css/style.css">
	<link rel="stylesheet" href="/themes/jacob_hair/assets/css/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<header>
		<nav>
		  <div class="container-fluid">
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <div class="navbar-gradient">
		    	
		    </div>
		      <ul class="nav navbar-nav navbar-absolute">
		        <li><a href="#about">about</a></li>
		        <li><a href="#pricing">pricing</a></li>
		        <li><a href="#portfolio">portfolio</a></li>
		        <li><a href="#contact">contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
	<main>

		{% partial 'home/banner' %}

		{% partial 'home/about' %}

		{% partial 'home/pricing' %}

		{% partial 'home/tile' %}

		{% partial 'home/contact' %}

		<section class="footer">
			<div class="footer-left">
				<p>© Jacob's Hair & Beauty 2016 All rights reserved</p>
			</div>

			<div class="footer-right">
				<p><a href="http://www.bauwilsdesign.com" target="_blank">Design by bauwils - BANG</a></p>
			</div>
		</section>

	</main>

	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>