#timelyContainer {
	display: none;
	position: relative;
	margin-top: 8px;
	> a {
		visibility: hidden;
	}
	> a > img {
		opacity: 0;
	}

	header.is-compact &,
	header.is-nav-expand & {
	}
}
#topTimely {
	position: absolute;
	z-index: @zindex-navbar;
	margin-top: 12px;

	> .btn.btn-primary {
		border-color: @colour-secondary;
		background-color: transparent;
		color: @colour-secondary;
		text-align: center;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 3px;
	}
	@media (min-width: @screen-md-min) {
		display: none;
	}
	header.is-compact & {
		display: block;
	}
}
