<section class="homebanner">
	<div class="homebanner-slide" style="background-image: url('{{ 'assets/img/home-banner.jpg'|theme  }}')">
		<div class="homebanner-box">

			<a class="banner-logo" href="#"><img src="/themes/jacob_hair/assets/img/logo.png" alt="Jacob's hair & beauty"></a>

			<hr class="banner-box-hr">

			<h1 class="banner-title">
				award-winning service from the best in the business
			</h1>
			<p class="banner-body">
				Whether you are looking for a cut, colour or treatment, at Jacob's Hair Salon you will receive the highest quality service at great prices.
			</p>

			<a href="#" class="button js-trigger-timely">Book now</a>

		</div>
	</div>
	<div class="homebanner-slide" style="background-image: url('{{ 'assets/img/home-banner.jpg'|theme  }}')">
		<div class="homebanner-box">

			<a class="banner-logo" href="#"><img src="/themes/jacob_hair/assets/img/logo.png" alt="Jacob's hair & beauty"></a>

			<hr class="banner-box-hr">

			<h1 class="banner-title">
				award-winning service from the best in the business
			</h1>
			<p class="banner-body">
				Whether you are looking for a cut, colour or treatment, at Jacob's Hair Salon you will receive the highest quality service at great prices.
			</p>

			<a href="#" class="button js-trigger-timely">Book now</a>

		</div>
	</div>
</section>
