		<section id="contact" class="contact">
		
			<div class="contact-box">
				

				<div class="info">
					<h3>Jacob's Hair & Beauty</h3>
					<p>304 Blackburn Rd, Burwood East VIC 3151, Australia</p>
					<span class="trading-hour">MON - FRI</span> 9am - 9pm
					<p>0413 130 123</p>
					<p>Info@jacobshair.com.au</p>
					
				</div>

				<div class="form">
					<h3>Enquiry</h3>

					<!-- testing -->

					<span class="input input--kohana">
						<input class="input__field input__field--kohana" type="text" id="input-29" />
						<label class="input__label input__label--kohana" for="input-29">
							<i class="fa fa-fw fa-clock-o icon icon--kohana"></i>
							<span class="input__label-content input__label-content--kohana">Time</span>
						</label>
					</span>
					<span class="input input--kohana">
						<input class="input__field input__field--kohana" type="text" id="input-30" />
						<label class="input__label input__label--kohana" for="input-30">
							<i class="fa fa-fw fa-bus icon icon--kohana"></i>
							<span class="input__label-content input__label-content--kohana">Line</span>
						</label>
					</span>
					<span class="input input--kohana">
						<input class="input__field input__field--kohana" type="text" id="input-31" />
						<label class="input__label input__label--kohana" for="input-31">
							<i class="fa fa-fw fa-phone icon icon--kohana"></i>
							<span class="input__label-content input__label-content--kohana">Phone</span>
						</label>
					</span>

					<!-- testing end -->

				</div>
				
			</div>
			
		</section>