<section id="contact" class="contact">

	<div class="contact-box">
		

		<div class="info">
			<h3>Jacob's Hair & Beauty</h3>
			<p class="map-link"><a href="https://www.google.com.au/maps/place/304+Blackburn+Rd,+Burwood+East+VIC+3151/@-37.848203,145.1502883,17z/data=!3m1!4b1!4m2!3m1!1s0x6ad63f6e23760557:0x8fbfcc7e623fcf8b" target="blank">304 Blackburn Rd, Burwood East VIC 3151, Australia</a></p>
			<p><span class="icon-open contact-icons"></span><span class="trading-hour">MON - FRI</span> 9am - 9pm</p>
			<p><span class="icon-mobile contact-icons"></span>0413 130 123</p>
			<p><span class="icon-mail contact-icons"></span>Info@jacobshair.com.au</p>

			<div class="social-btn">
				<div class="social-circle">
					<a href="http://www.trueagency.com.au" target="_blank"><i class="icon-facebook social"></i></a>
				</div>
					
				<div class="social-circle">
					<a href="#"><i class="icon-google-plus social"></i></a>
				</div>
					
				<div class="social-circle">
					<a href="#"><i class="icon-instagram social"></i></a>
				</div>
			</div>
			
				
		</div>

		<div class="form-enquire">
			<h3>Enquiry</h3>

			<!-- testing -->
			{% partial 'enquiry::form' %}
			
			<!-- testing end -->

		</div>
		
	</div>
	
</section>